html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    background-color: #F2EBC7;
    height: 100vh;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.listItem {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 780px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
}

#addItem {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

h1, h2, h3, h4 {
    margin: 0;
    font-family: "times new roman", serif;
}

a {
    font-family: trebuchet-ms, "trebuchet ms", sans-serif;
    text-decoration: none;
    color: #348899;
    margin-top: 1em;
}

a:hover {
    color: #196372;
    text-decoration: underline;
}

h1 {
    text-align: center;
    font-size: 3em;
    font-weight: 600;
    margin-top: 1em;
    color: #3a3f57;
}

h3, h4 {
    color: #f7f2da;
}

h4 {
    font-weight: 100;
}

::-moz-selection {
    color: #fff;
    background: #348899;
}

::selection {
    color: #fff;
    background: #348899;
}

::-webkit-input-placeholder {
    color: #cbc39e;
}

:-moz-placeholder {
    color: #cbc39e;
}

::-moz-placeholder {
    color: #cbc39e;
}

:-ms-input-placeholder {
    color: #cbc39e;
}

.site {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
}

.siteContent {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-align-self: auto;
        -ms-flex-item-align: auto;
            align-self: auto;
}
    
.listWrapper {
    box-sizing: border-box;
    max-width: 780px;
    padding: 1em;
    text-align: center;
    margin: auto;
}

footer {
    box-sizing: border-box;
    width: 100%;
    padding: 2em;
    background-color: #d4cda8;
    text-align: center;
    z-index: -50;
}

.myBtn {
    width: 25px;
    height: 40px;

    font-family: trebuchet-ms, "trebuchet ms", sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    text-align: center;
    color: #cbc39e;

    border-style: none;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 2px;

    -webkit-transition: all 0.1s ease;
            transition: all 0.1s ease;
}

.myBtn:hover {
    color: #fff;
    background-color: #348899;
    cursor: pointer;
}

.myBtn:active {
    background-color: #3a3f57;
}

.textInp {
    box-sizing: border-box;
    padding: 0.4em;

    font-family: trebuchet-ms, "trebuchet ms", sans-serif;
    font-size: 1.3em;
    font-weight: 300;

    color: #3a3f57;
    background-color: #F2EBC7;

    border: none;
    border-radius: 2px;
}

.textInp:focus {
    background-color: #fcf4d2;
    outline: none;
}

.titleInp {
    text-align: center;

    font-size: 1.5em;
    font-weight: 300;
    width: 100%;
}

.checkBox {
    margin-top: 15px;
}

.mainList {
    margin-bottom: 1em;
    margin: auto;
    box-sizing: border-box;
    padding-bottom: 2em;
    border-bottom: 1px solid #d9d1ac;
    max-width: 780px;
}

.doneList input[type="text"] {
    background-color: #d9d1ac;
    text-decoration: line-through;
    color: #a59f82;
}