html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    background-color: #D9CB9E;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

li {
    margin: 0;
    margin-top: 1em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

h1, h2 {
    margin: 0;
    margin-top: 1em;
    text-align: center;
    font-family: source-sans-pro;
    color: #374140;
}

h1 {
    font-size: 2.5em;
    font-weight: 800;
}

h2 {
    font-size: 1.4em;
    font-weight: 800;
}



/*---------------------- START CHECKBOX STYLES -----------------------*/



.checkBox {
    margin-right: 1em;
}

.checkBox[type="checkbox"]:before{
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #b9ab81;
    border-radius: 2px;
    content: "";
    background: #D9CB9E;
}

.checkBox[type="checkbox"]:after{
    position: relative;
    display: block;
    box-sizing: border-box;
    left: 3px;
    top: -15px;
    width: 12px;
    height: 12px;
    content: "";
    background-image: -webkit-linear-gradient(90deg, #D9CB9E 0%, #D9CB9E 100%);
    background-image: linear-gradient(0deg, #D9CB9E 0%,#D9CB9E 100%);
    background-repeat: no-repeat;
    background-position:center;
}

.checkBox[type="checkbox"]:checked:after{
    background-image: -webkit-linear-gradient(90deg, #b9ab81 0%, #b9ab81 100%);
    background-image: linear-gradient(0deg, #b9ab81 0%,#b9ab81 100%);
    background-repeat: no-repeat;
    background-position:center;
}

.checkBox[type="checkbox"]:hover:after{
    background-image: -webkit-linear-gradient(90deg, #cbbb89 0%, #cbbb89 100%);
    background-image: linear-gradient(0deg, #cbbb89 0%,#cbbb89 100%);
    background-repeat: no-repeat;
    background-position:center;
}

.checkBox[type="checkbox"]:checked:hover:after{
    background-image: -webkit-linear-gradient(90deg, #9d8f66 0%, #9d8f66 100%);
    background-image: linear-gradient(0deg, #9d8f66 0%,#9d8f66 100%);
    background-repeat: no-repeat;
    background-position:center;
}



/*---------------------- END CHECKBOX STYLES -----------------------*/



::-moz-selection {
    color: #fff;
    background: #DC3522;
}

::selection {
    color: #fff;
    background: #DC3522;
}

::-webkit-input-placeholder {
    color: #b2a98d;
}

:-moz-placeholder {
    color: #b2a98d;
}

::-moz-placeholder {
    color: #b2a98d;
}

:-ms-input-placeholder {
    color: #b2a98d;
}

.wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 40em;
    margin: auto;
}

.listWrapper {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    padding: 1em;
}

.myBtn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    
    width: 1.3em;
    height: 1.3em;
    
    padding: 0;
    margin: 0;
    
    font-family: source-sans-pro;
    font-size: 1em;
    font-weight: 600;
    color: #374140;
    
    background-color: rgba(255, 255, 255, 0);
    border: solid 1px #374140;
    border-radius: 2px;
    
    -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
}

.myBtn:hover {
    color: #fff;
    background-color: #DC3522;
    border: solid 1px rgba(255, 255, 255, 0);
    cursor: pointer;
}

.myBtn:active {
    background-color: #374140;
}

.textInp {
    box-sizing: border-box;
    width: 100%;
    padding: 0.4em;
    
    font-family: source-sans-pro;
    font-size: 1.3em;
    font-weight: 500;
    
    color: #374140;
    background-color: #e5d8b0;
    
    border: none;
    border-radius: 2px;
}

.titleInp {
    margin-top: 1em;
    text-align: center;
    
    font-size: 1.5em;
    font-weight: 800;
}

.mainList {
    margin-bottom: 1em;
    padding-bottom: 2em;
    border-bottom: 1px solid #baad86;
}

.doneList input[type="text"] {
    background-color: #cbbd93;
    text-decoration: line-through;
    color: #918663;
}